{% extends 'layout.html' %}

{% block content %}

<div class="card shadow p-4">

    <h2>Request Leave</h2>

    <form method="POST">

        <select
        name="leave_type"
        class="form-control mb-3"
        required>

            <option>Sick Leave</option>
            <option>Casual Leave</option>
            <option>Paid Leave</option>

        </select>

        <input
        type="number"
        name="days"
        class="form-control mb-3"
        placeholder="Number of days"
        required>

        <textarea
        name="reason"
        class="form-control mb-3"
        placeholder="Reason"
        required></textarea>

        <button class="btn btn-primary">
            Submit Request
        </button>

    </form>

</div>

{% endblock %}